{% extends "layout.html.twig" %}

{% block video_head %}
    <script type="text/javascript" src="/bower_components/jwplayer-mirror/jwplayer.js"></script>
    <script type="text/javascript" src="/bower_components/jwplayer-mirror/jwplayer.html5.js"></script>
{% endblock %}

{% block video_init %}

    <script type="text/javascript">

        $(document).ready(function() {

            var playa = document.getElementById('playa');


            jwplayer(playa).setup({
                autostart: true,
                    width: "100%",
                    aspectratio: "16:9",
                    playlist: [
                        {
                            image: '/video/6de22088-1c77-4e8e-a282-4093e1034544-480p_mp4_thumbnail.png',
                            sources: [
                                {
                                    file: "/video/6de22088-1c77-4e8e-a282-4093e1034544-480p_mp4.mp4",
                                    'label': "480pM"
                                },
                                {
                                    file: "/video/6de22088-1c77-4e8e-a282-4093e1034544-720p_mp4.mp4",
                                    'label': "720pM"
                                },
                                {
                                    file: "/video/6de22088-1c77-4e8e-a282-4093e1034544-1080p_mp4.mp4",
                                    'label': "1080pM"
                                },
                                {
                                    file: "/video/6de22088-1c77-4e8e-a282-4093e1034544-480p_webm.webm",
                                    'label': "480pW"
                                },
                                {
                                    file: "/video/6de22088-1c77-4e8e-a282-4093e1034544-720p_webm.webm",
                                    'label': "720pW"
                                },
                                {
                                    file: "/video/6de22088-1c77-4e8e-a282-4093e1034544-1080p_webm.webm",
                                    'label': "1080pW"
                                }
                            ]
                        }]
                    });
        });


    </script>

{% endblock %}

{% block content %}

    <div id="playa"></div>

{% endblock %}



